<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oes.biz.mapper.CourseMapper" >
    <insert id="insert" parameterType="course">
        insert into course(gmt_create, gmt_modified,category_id,teacher_id,gmt_start,gmt_end,status,is_free,price)
        values (#{course.gmtCreate,jdbcType=TIMESTAMP},
                #{course.gmtModified,jdbcType=TIMESTAMP},
                #{course.categoryId,jdbcType=BIGINT},
                #{course.teacherId,jdbcType=BIGINT},
                #{course.gmtStart,jdbcType=TIMESTAMP},
                #{course.gmtEnd,jdbcType=TIMESTAMP},
                #{course.status,jdbcType=VARCHAR},
                #{course.isFree,jdbcType=CHAR},
                #{course.price,jdbcType=BIGINT})
    </insert>
</mapper>