<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oes.biz.mapper.RoleMapper" >
    <insert id="insert" parameterType="role">
        insert into role(role_name, description, gmt_create, gmt_modified)
        values (#{role.roleName,jdbcType=VARCHAR},
                #{role.description,jdbcType=VARCHAR},
                #{role.gmtCreate,jdbcType=TIMESTAMP},
                #{role.gmtModified,jdbcType=TIMESTAMP})
    </insert>

    <delete id="deleteById" parameterType="long">
        delete from role where role_id = #{roleId,jdbcType=BIGINT}
    </delete>

    <update id="updateById" parameterType="role">
        update role r
        <set>
            <if test="role.roleName != null and role.roleName != ''" >
                r.role_name = #{role.roleName,jdbcType=VARCHAR},
            </if>
            <if test="role.description != null" >
                r.description = #{role.description,jdbcType=VARCHAR},
            </if>
            <if test="role.gmtCreate != null and role.gmtCreate != ''" >
                r.gmt_create = #{role.gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="role.gmtModified != null and role.gmtModified != ''" >
                r.gmt_modified = #{role.gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where r.role_id = #{role.roleId,jdbcType=BIGINT}
    </update>

    <update id="fullUpdateById" parameterType="role">
        update role
        set role_name = #{role.roleName,jdbcType=VARCHAR},
            description = #{role.description,jdbcType=VARCHAR},
            gmt_create = #{role.gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified = #{role.gmtModified,jdbcType=TIMESTAMP}
        where role_id = #{role.roleId,jdbcType=BIGINT}
    </update>

</mapper>