<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oes.biz.mapper.UserCourseMapper">
    <insert id="insert" parameterType="userCourse">
        insert into student_course(user_id, course_id)
        values (#{userCourse.userId, jdbcType=BIGINT},
                #{userCourse.courseId, jdbcType=BIGINT})
    </insert>

    <select id="findUserJoinedCourse" parameterType="long" resultType="course">
        select c.course_id    courseId,
               c.gmt_create   gmtCreate,
               c.gmt_modified gmtModified,
               c.category_id  categoryId,
               c.teacher_id   teacherId,
               c.gmt_start    gmtStart,
               c.gmt_end      gmtEnd,
               c.status,
               c.is_free      isFree,
               c.price,
               c.course_name  courseName,
               c.description
        from course c
                 left join student_course sc on c.course_id = sc.course_id
        where sc.user_id = #{userId, jdbcType=BIGINT};
    </select>
</mapper>